<div class="container">
    <p class="heading">Payment Form</p>
    <div class="box">
        <div class="box--left">
            <p class="heading">Payment Details</p>

            <div class="name">
                <label class="name__label">full name</label>
                <input (input)="onNameChange($event.target.value)" #name class="name__input"/>
            </div>

            <div class="date">
                <label class="date__label">payment date</label>
                <input (input)="onDateChange(date.value)" #date type="date" class="date__input"/>
            </div>

            <div class="amount">
                <label class="amount__label">amount</label>
                <input (input)="onAmountChange(amount.value)" #amount type="number" maxlength="5" class="amount__input"/>
            </div>

            <div class="credit">
                <label class="credit__label">credit card number</label>
                <input (input)="onCreditChange(credit.value)" #credit  maxlength="26" minlength="26" placeholder="XX XXXX XXXX XXXX XXXX XXXX XXXX" class="credit__input"/>
            </div>

            <div class="exdate">
                <label class="exdate__label">expiry date</label>
                <input (input)="onExdateChange(exdate.value)" maxlength="4" placeholder="XXXX (month, year)" #exdate class="exdate__input"/>
            </div>

            <div class="cvc">
                <label class="cvc__label">CVC</label>
                <input (input)="onCVCChange(cvc.value)" placeholder="XXX" #cvc maxlength="3" minlength="3" lass="cvc__input"/>
            </div>

            <button class="btn">pay now</button>
        </div>

        <div class="box--right">
            <p class="heading">Is it correct ?</p>

            <div class="name">
                <label class="name__heading">full name</label>
                <p class="name__value">{{ fullName | titlecase }}</p>
            </div>

            <div class="date">
                <label class="date__label">payment date</label>
                <p type="date" class="date__value">{{ dateNormal | date: "EEE, d MMMM yyyy" }}</p>
            </div>

            <div class="amount">
                <label class="amount__label">amount</label>
                <p class="amount__value">{{ price | currency: "USD" }}</p>
            </div>

            <div class="credit">
                <label class="credit__label">credit card number</label>
                <p class="credit__value">{{ creditCardNumber | covert:"credit"}}</p>
            </div>

            <div class="exdate">
                <label class="exdate__label">expiry date</label>
                <p class="exdate__value">{{ expiryDate | covert:"exdate"}}</p>
            </div>

            <div class="cvc">
                <label class="cvc__label">CVC</label>
                <p class="cvc__value">{{ cvcNumber }}</p>
            </div>
        </div>
        
    </div>
</div>